*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
}
.header{
    height: 100px;
}
.headerTitle{
    margin-left: 50px;
}
.bodyContent{
    display: flex;
    flex-flow: column wrap;
    align-content: center ;
}
.listWrapper{
    width: 80%;
    margin-bottom: 50px;
}
.movieList{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 400px;
}
.movieListItem{
    margin-right: 30px;
    margin-top: 10px;
}
.movieSummary{
    margin-top: 30px;
}
.movieName{
    font-weight: bold;
    font-size: 1.3rem;
}
.movieText{
    margin-top: 20px;
}
.movieImg{
    border-radius: 15px;
}
.searchInputSpaceMain{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchInputSpaceSub{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    left: calc(50% - 250px);
    position: fixed;
}
.searchInputField{
    height: 40px;
    width: 400px;
    padding-left: 10px;
    padding-right: 60px;
    font-size: 1.5rem;
}
.searchButton{
    border-radius: 20px;
    height: 40px;
    width: 80px;
    position: relative;
    right: 50px;   
}
.searchMovieList{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
    margin-left: 5%;
}
.movieVisitLink{
    color: black;
}
.movieVisitLink:hover{
    color: black;
}
.movieVisitInfo{
    margin-top: 40px;
    display: flex;
    color: white;
    position: absolute;
    top: 10;
    margin-left: 70px;    
}
.movieInfoText{
    margin-left: 20px;
}
.backGroundImg{
    height: 700px;
    opacity: 0.1;
}
.visitTop{
    background-color: #2E2E2E;
    width: 100%;
}
.visitTitleImg{
    border-radius: 15px;
}
.visitMovieName{
    font-size: 4rem;
    font-weight: bold;
}
.listFooter{
    display: flex;
    justify-content: space-evenly;
}
.pageButton{
    width: 100px;
    height: 50px;
    margin: 10px 0px;
}
.actorListSpaceTitle{
    margin-left: 80px;
}
.actorName{
    font-size: 1.3rem;
}
.actorCharacterName{
    font-size: 1.3rem
}
.actorImg{
    border-radius: 15px;
}
.actorListWrapper{
    height: 500px;
    width: 1000px;
}
.actorList{
    display: flex;
    overflow-x: auto;
    margin-left: 40px;
}
.actorListItem{
    width: 200px;
    display: flex;
    flex-shrink: 0;
    margin-left: 40px;
}

